.admin{
    width: 75%;
    /* border: solid; */
    margin: auto;
}
.admin h1{
    width: 25%;
    margin-left: 40%;
    margin-top: 80px;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
.admin-login{
    width: 100%;
    /* border: solid; */
    margin: auto;
    margin-top: -110px;
}