/* body {
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    height: 50%;
    width: 100%;
    z-index: -1;
} */
* {
    margin: 0;
    padding: 0;
}
.background-image {
    background-image: url('../../assets/farmer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 200px; */
}

