.view-employee {
    width: 75%;
    margin-left: 15%;
    /* border: solid; */
    margin-top: -45%;
    /* position: fixed; */
    font-family: 'Times New Roman', Times, serif;
}
.view-container {
    margin: auto;
    width: 100%;
}
.view-employee table {
    border: 1px solid green;
  }
.view-employee table {
    width: 100%;
    border-collapse: collapse;
    /* border-color: green; */
  }
  .view-employee  button {
    border: none;
    width: 6rem;
    height: 2rem;
    font-weight: 700;
    font-size: medium;
    
}
.view-employee tr:nth-child(odd){
    background-color:#f9f9f9;
    }
.view-employee tr:hover {
        background-color:rgb(204, 252, 204);
    }
.view-employee tr {
    text-align: center;
    width: 6rem;
    height: 2rem;  
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    }
.view-employee th {
    width: 6rem;
    height: 2rem;
    background-color: green;
    color: white;
    text-align: center;
    border-color: white;
 }
.view-employee h1{
    margin-bottom: 1rem;
    margin-left: 40%;
    color: green;
    font-size: 3    0px;
    font-family: 'Times New Roman', Times, serif;
}

